pipeline/extract-data-from-gilead-website.json
{
	"name": "extract-data-from-gilead-website",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RankID",
					"value": {
						"value": "@range(100,1000)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('RankID')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Execute job",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"rankID": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"rank_id": {
				"type": "String"
			},
			"RankID": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-26T07:11:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}